<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <% include ./head %>
    </head>

    <body class="container">
        <main>
            <h3 style="color: green;">Login Success</h3>
        </main>
    </body>
</html>
